@font-face {
  font-family: 'Zhizn';
  src: local('Zhizn'),
  url('../fonts/zhizn.woff2') format('woff2'),
  url('../fonts/zhizn.woff') format('woff'),
  url('../fonts/zhizn.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@keyframes deadbone {
  0% {
    background-position: 0 0;
  }
  100% { 
    background-position: 0 5000px;
  }
}
.dead-page {
  background-color: #000;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 40px;
  background-image: url(../images/bone.svg);
  background-size: 120px;
  animation: deadbone 40s linear infinite;
}
.dead-title {
  font-size: 160px;
  font-family: 'Zhizn';
  text-transform: uppercase;
  background-color: #000;
  padding-top: 35px;
}
.dead-smile {
  background-color: #000;
  width: 282px;
  margin: 0 auto;
  padding-bottom: 10px;
}
.link-again {
  font-family: 'Zhizn';
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 7px 15px;
  padding-top: 10px;
  border-radius: 12px;
  background-color: #000;
}