@font-face {
  font-family: 'Zhizn';
  src: local('Zhizn'),
  url('../fonts/zhizn.woff2') format('woff2'),
  url('../fonts/zhizn.woff') format('woff'),
  url('../fonts/zhizn.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: black;
  font-family: 'Zhizn';
}
.main {
  display: flex;
  justify-content: center;
  height: 100vh;
}
.main-title {
  align-self: center;
  color: #fff;
}
.main-title--view {
  display: -webkit-box;
  margin-left: 36px;
  margin-top: 10px;
}
.link-hero {
  align-self: flex-end;
  margin-bottom: 20px;
  position: absolute;
  bottom: 20px;
}
.button-start {
  cursor: pointer;
  position: absolute;
  background-image: url('../images/crown.svg');
  background-size: 25px;
  width: 100px;
  height: 30px;
  background-repeat: no-repeat;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 12px;
  background-position-x: 8px;
  background-position-y: 4px;
  font-size: 16px;
  padding-left: 25px;
  font-family: 'Zhizn';
  color: #fff;
  padding-top: 7px;
}
.button-start:hover,
.button-start:active,
.button-start:visited,
.button-start:focus{
  outline: none;
}
.button-start:hover, .button-start:focus{
  background-color: #ffea00;
  color: #000;
  transition: background-color 1s;
}
.smile {
  background-image: url('../images/smile.svg');
  width: 30px;
  height: 28px;
  background-size: 29px;
  background-repeat: no-repeat;
  display: inline-block;
}
